@model List<CarAccessories.Models.OrderDetails>
@{
    ViewBag.Title = "Index";
}
@section Scripts {
    <script>
        $(".selection-2").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#dropDownSelect2')
        });
    </script>
}
<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(/Content/images/images/drec.jpg);">
    <h2 class="l-text2 t-center">
       Order
    </h2>
</section>
<!-- Cart -->
<section class="cart bgwhite p-t-70 p-b-100">
    <div class="container">
        <!-- Cart item -->
        <div class="container-table-cart pos-relative">
            <div class="wrap-table-shopping-cart bgwhite">
                <table class="table-shopping-cart">
                    <tr class="table-head">
                        <th class="column-1"></th>
                        <th class="column-3">Product</th>
                        <th class="column-3">Price</th>
                        <th class="column-3 " >Quantity</th>
                        <th class="column-3">Total</th>
                    </tr>
                    @foreach (var order in Model)
                    {
                        
                                <tr class="table-row">
                                    <td class="column-1">
                                        <div class="cart-img-product b-rad-4 o-f-hidden">
                                            <img src="~/Content/images/images/@order.VendorProduct.Product.Image" alt="IMG-PRODUCT">
                                        </div>
                                    </td>
                                    <td class="column-3">@order.VendorProduct.Product.Name</td>
                                   
        
                                        <td class="column-3"> @order.VendorProduct.Price</td>
                                   
                                        <td class="column-3">
                                            @order.Quantity
                                        </td>
                                       
                                        
                                        <td class="column-3"> @(@order.VendorProduct.Price * @order.Quantity)</td>
                                    </tr>
                                }
                        
                    
                </table>
            </div>
        </div>

        <div class="flex-w flex-sb-m p-t-25 p-b-25 bo8 p-l-35 p-r-60 p-lr-15-sm">
            <div class="flex-w flex-m w-full-sm">

            </div>
        </div>
    </div>

    <!-- Total -->
    
</section>


<!-- Back to top -->
<div class="btn-back-to-top bg0-hov" id="myBtn">
    <span class="symbol-btn-back-to-top">
        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
    </span>
</div>

<!-- Container Selection -->
<div id="dropDownSelect1"></div>
<div id="dropDownSelect2"></div>


<!--===============================================================================================-->
<script src="js/main.js"></script>




