<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title - Ecommerce</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/themify/themify-icons.css">
    <!--=== <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    ============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/elegant-font/html-css/style.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/vendor/lightbox2/css/lightbox.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/main.css">
    @*<link rel="stylesheet" type="text/css" href="~/Content/fonts/ionicons-2.0.1/builder/scripts/generate_font.py" />*@
    @RenderSection("style", required: false)
</head>
<body class="animsition">

    <!-- Header -->
    <header class="header1">
        <!-- Header desktop -->
        <div class="container-menu-header">
            <div class="topbar">
            </div>
            <div class="wrap_header">
                <!-- Logo -->
                <a href="index.html" class="logo">
                    <img src="~/Content/images/images/50075681_956933374508190_184640463666413568_n.png"  style="width:30% ;height:10%" alt="IMG-LOGO">
                </a>

                <!-- Menu -->
                <div class="wrap_menu">
                    <nav class="menu">
                        <ul class="main_menu">
                            @if (User.IsInRole("Admin"))
                            {
                                <li>
                                    <a href="/Categories">Categories</a>
                                    <ul class="sub_menu">
                                        <li><a href="Categories/Create">Create</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="/Products">Products</a>
                                    <ul class="sub_menu">
                                        <li><a href="Products/Create">Create</a></li>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li>
                                    @Html.ActionLink("Home", "Index", "Home")
                                </li>

                                <li>

                                    @Html.ActionLink("Shop", "Index", "Shop")
                                </li>

                                <li>
                                    @Html.ActionLink("Sale", "Index", "Sale")
                                </li>

                                if (Request.IsAuthenticated)
                                {
                                    <li>
                                        @Html.ActionLink("Order", "Index", "Order")
                                    </li>

                                    <li>
                                        @Html.ActionLink("PaidProducts", "Index", "BaughtProducts")
                                    </li>

                                    @*<li>
                                        @Html.ActionLink("Profile", "GetProducts", "VendorProduct")
                                    </li>*@
                                }
                            }
                        </ul>
                    </nav>
                </div>

                <!-- Header Icon -->
                <div class="header-icons">

                        @Html.Partial("_LoginPartial")
                   

                    <span class="linedivide1"></span>

                    @if (Request.IsAuthenticated)
                    {
                        <a href="/Order" class="header-wrapicon2">
                            <img src="~/Content/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
                        </a>
                    }
                </div>
            </div>
        </div>

        <!-- Header Mobile -->
        <div class="wrap_header_mobile">
            <!-- Logo moblie -->
            <a href="index.html" class="logo-mobile">
                @Html.Partial("_LoginPartial")
            </a>

            <!-- Button show menu -->
            <div class="btn-show-menu">
                <!-- Header Icon mobile -->
                <div class="header-icons-mobile">
                    @if (Request.IsAuthenticated)
                    {
                        <a href="/Order" class="header-wrapicon2">
                            <img src="~/Content/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
                        </a>
                    }
                </div>

                <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </div>
            </div>
        </div>

        <!-- Menu Mobile -->
        <div class="wrap-side-menu">
            <nav class="side-menu">
                <ul class="main-menu">
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="item-menu-mobile">
                            <a href="/Categories">Categories</a>
                            <ul class="sub_menu">
                                <li><a href="Categories/Create">Create</a></li>
                            </ul>
                        </li>

                        <li class="item-menu-mobile">
                            <a href="/Products">Products</a>
                            <ul class="sub_menu">
                                <li><a href="Products/Create">Create</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="item-menu-mobile">
                            @Html.ActionLink("Home", "Index", "Home")
                        </li>

                        <li class="item-menu-mobile">

                            @Html.ActionLink("Shope", "Index", "Shop")
                        </li>

                        <li class="item-menu-mobile">
                            @Html.ActionLink("Sale", "Index", "Sale")
                        </li>

                        if (Request.IsAuthenticated)
                        {
                            <li class="item-menu-mobile">
                                @Html.ActionLink("Order", "Index", "Order")
                            </li>

                            <li class="item-menu-mobile">
                                @Html.ActionLink("PaidProducts", "Index", "BaughtProducts")
                            </li>
                        }
                    }
                </ul>
            </nav>
        </div>
    </header>
    @RenderBody()
    <!-- Footer -->
    <footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
        <div class="flex-w p-b-90">
            <div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
                <h4 class="s-text12 p-b-30">
                    GET IN TOUCH
                </h4>

                <div>
                    <p class="s-text7 w-size27">
                        Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
                    </p>

                    <div class="flex-m p-t-30">
                        <a href="#" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
                        <a href="#" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
                        <a href="#" class="fs-18 color1 p-r-20 fa fa-pinterest-p"></a>
                        <a href="#" class="fs-18 color1 p-r-20 fa fa-snapchat-ghost"></a>
                        <a href="#" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
                    </div>
                </div>
            </div>

            <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                <h4 class="s-text12 p-b-30">
                    Categories
                </h4>

                <ul>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Men
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Women
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Dresses
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Sunglasses
                        </a>
                    </li>
                </ul>
            </div>

            <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                <h4 class="s-text12 p-b-30">
                    Links
                </h4>

                <ul>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Search
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            About Us
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Contact Us
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Returns
                        </a>
                    </li>
                </ul>
            </div>

            <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                <h4 class="s-text12 p-b-30">
                    Help
                </h4>

                <ul>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Track Order
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Returns
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Shipping
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            FAQs
                        </a>
                    </li>
                </ul>
            </div>

            <div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
                <h4 class="s-text12 p-b-30">
                    Newsletter
                </h4>

                <form>
                    <div class="effect1 w-size9">
                        <input class="s-text7 bg6 w-full p-b-5" type="text" name="email" placeholder="email@example.com">
                        <span class="effect1-line"></span>
                    </div>

                    <div class="w-size2 p-t-20">
                        <!-- Button -->
                        <button class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
                            Subscribe
                        </button>
                    </div>

                </form>
            </div>
        </div>

        <div class="t-center p-l-15 p-r-15">
            <a href="#">
                <img class="h-size2" src="~/Content/images/icons/paypal.png" alt="IMG-PAYPAL">
            </a>

            <a href="#">
                <img class="h-size2" src="~/Content/images/icons/visa.png" alt="IMG-VISA">
            </a>

            <a href="#">
                <img class="h-size2" src="~/Content/images/icons/mastercard.png" alt="IMG-MASTERCARD">
            </a>

            <a href="#">
                <img class="h-size2" src="~/Content/images/icons/express.png" alt="IMG-EXPRESS">
            </a>

            <a href="#">
                <img class="h-size2" src="~/Content/images/icons/discover.png" alt="IMG-DISCOVER">
            </a>

            <div class="t-center s-text8 p-t-20">
                Copyright © 2018 All rights reserved. | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            </div>
        </div>
    </footer>



    <!-- Back to top -->
    <div class="btn-back-to-top bg0-hov" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="fa fa-angle-double-up" aria-hidden="true"></i>
        </span>
    </div>

    <!--===============================================================================================-->
    <script type="text/javascript" src="~/Scripts/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~/Scripts/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~/Scripts/vendor/bootstrap/js/popper.js"></script>
    <script type="text/javascript" src="~/Scripts/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~/Scripts/vendor/select2/select2.min.js"></script>
    <script type="text/javascript">
        $(".selection-1").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#dropDownSelect1')
        });
        $(".selection-2").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#dropDownSelect2')
        });

    </script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~/Scripts/vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/slick-custom.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~/Scripts/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~/Scripts/vendor/lightbox2/js/lightbox.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~/Scripts/vendor/sweetalert/sweetalert.min.js"></script>

    <!--===============================================================================================-->
    <script src="~/Scripts/js/main.js"></script>

  
    @RenderSection("scripts", required: false)

   

</body>
</html>
@*

    @model List<CarAccessories.Models.VendorProduct>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-img wrap-pic-w of-hidden pos-relative @(item.Sale_price == 0 || item.Sale_price == null ? "" : "block2-labelsale") @((DateTime.Now - item.Insert_Date).TotalDays <= 7 ? "block2-labelnew" : "")">
                        <img src="~/Content/images/images/@item.Product.Image" style="height:360px" alt="IMG-PRODUCT">


                        <div class="block2-overlay trans-0-4">
                            <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                                <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                                <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                            </a>

                            <div class="block2-btn-addcart w-size1 trans-0-4">
                                <!-- Button -->
                                <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                                    Add to Cart
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="block2-txt p-t-20">
                        @Html.ActionLink(item.Product.Name, "ShowProductDetails", "Home", new { id = item.ID }, new { @class="block2-name dis-block s-text3 p-b-5"})
                        @Html.ActionLink(item.Vendor.ComponyName, "ShowVendorDetails", "Home", new { id = item.Vendor.ID }, new { @class = "block2-name dis-block s-text3 p-b-5" })
                        <div class="rateit" id="rateit10" data-rateit-step="1" data-vendorId=@item.ID>
                        </div>
                        <br />
                        @if (item.Sale_price == 0 || item.Sale_price == null)
                         {
                            <span class="block2-price m-text6 p-r-5">
                                $@item.Price
                            </span>
                        }
                        else
                        {
                            <span class="block2-oldprice m-text7 p-r-5">
                                $@item.Price
                            </span>

                            <span class="block2-newprice m-text8 p-r-5">
                                $@item.Sale_price
                            </span>
                        }
                    </div>
                </div>
            </div>





        }
    </div>
*@