@model List<CarAccessories.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>

                                <th>ID</th>
                                <th>Product Name</th>
                                <th>state</th>
                                <th>Model</th>
                                <th>Image</th>
                                <th>Description</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.ID</td>
                                    <td>
                                        @item.Name
                                    </td>

                                    <td>@item.State</td>
                                    <td>@item.Model</td>
                                    <td><img src="~/Content/images/images/@item.Image" /></td>
                                    <td>@item.MinDescription</td>
                                    <td><a href="~/AddProductToVendor/Addprice/@item.ID" class="btn btn-success"> Add product to me</a></td>
                                    
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Product Name</th>
                                <th>state</th>
                                <th>Model</th>
                                <th>Image</th>
                                <th>Description</th>
                                
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
</section>
@section scripts{
    <!-- DataTables -->
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.js"></script>
    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable();
        });
    </script>
}
@section style{
    <link rel="stylesheet" href="~/Content/dataTables.bootstrap4.css">
}
